@import "tailwindcss";


.conversation-area::-webkit-scrollbar{
    display: none;
}

.addCollaborators::-webkit-scrollbar{
    display: none;
}

.message-box::-webkit-scrollbar{
    display: none;
}

.message-box{
    scroll-behavior: smooth;
}

.ai-reply::-webkit-scrollbar{
    display: none;
}